<?xml version="1.0" encoding="utf-8"?>
<iTunesInfo>
  <Settings>
    <AllowGlass>True</AllowGlass>
    <MinimizeOnStart>False</MinimizeOnStart>
    <MaxWidth>250</MaxWidth>
    <LineSpacing>3</LineSpacing>
    <GlowSize>8</GlowSize>
    <InsideMargin>6</InsideMargin>
    <OutsideMargin>12</OutsideMargin>
    <MaxOpacity>0.9</MaxOpacity>
    <FadeTime>200</FadeTime>
    <VisibleTime>3000</VisibleTime>
    <DesktopPosition>NearClock</DesktopPosition>
    <TextColor>#000000</TextColor>
    <BackgroundColor>#0000FF</BackgroundColor>
    <Font>Microsoft Sans Serif, 8.25pt</Font>
  </Settings>
  <Display>{TrackName}
{TrackAlbum}
{TrackArtist}
{TrackRating}
{PlaybackBar}
{TrackArtwork}</Display>
  <Events>
    <Event When="play">
      <Action>ShowTrackInfo</Action>
    </Event>
    <Event When="trackinfochange">
      <Action>ShowTrackInfo</Action>
    </Event>
    <Event When="gotfocus">
      <Action>KeepTrackInfoOpen</Action>
    </Event>
    <Event When="lostfocus">
      <Action>AllowTrackInfoToClose</Action>
    </Event>
    <Event When="enter">
      <Action>KeepTrackInfoOpen</Action>
    </Event>
    <Event When="leave">
      <Action>AllowTrackInfoToClose</Action>
    </Event>
    <Event When="leftclick">
      <Action>HideTrackInfoNow</Action>
    </Event>
    <Event When="rightclick">
      <Action>ShowOptions</Action>
    </Event>
    <Event When="leftdoubleclick">
      <Action>NextTrack</Action>
    </Event>
    <KeyEvent When="Shift + Media Play Pause + [255]">
      <Action>PlayPause</Action>
    </KeyEvent>
    <KeyEvent When="Ctrl + Alt + Win + Q">
      <Action>QuitDisplay</Action>
    </KeyEvent>
    <KeyEvent When="Shift + Media Prev Track + [255]">
      <Action>PreviousTrack</Action>
    </KeyEvent>
    <KeyEvent When="Shift + Media Next Track + [255]">
      <Action>NextTrack</Action>
    </KeyEvent>
    <KeyEvent When="Ctrl + Alt + Win + O">
      <Action>ShowOptions</Action>
    </KeyEvent>
  </Events>
</iTunesInfo>